@import "lib/core";

.container {
	width: 90%;
	margin: 0 auto;
	padding: 20px flex-width(20px);
	overflow: hidden;
}

section {
	@include block
}

//Media Queries
@import "lib/layout/media_queries";



