@import "lib/_settings";
@import "lib/_core";

#container {
	width: $width;
	margin: 0 auto;
	padding: 20px 0;
	overflow: hidden;
}

/* --------------------------------------------------------------

Main CSS. For demo purposes only. You can delete this.

-------------------------------------------------------------- */

body {
  background:#eee;		
}

section {
	margin-bottom: $baseline;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, li a{@include textShadow();}
h1, h2, h3, h4, h5, h6{text-transform:uppercase;}

footer p {text-align:center}


/* --------------------------------------------------------------

Media Queries for a responsive grid. Delete if not required.

-------------------------------------------------------------- */

@import "lib/helpers/_media_queries";
