@import "lib/_settings";
@import "lib/_core";

/* --------------------------------------------------------------

Main CSS

-------------------------------------------------------------- */

#container {
	width: $width;
	margin: 0 auto;
	padding:20px 0;
	overflow: hidden;
}

section {margin-bottom:$baseline;overflow:hidden;}


