@import "lib/core";

/* --------------------------------------------------------------

STRUCTURE

-------------------------------------------------------------- */

#container {
	width: $width;
	margin: 40px auto;
	overflow: hidden;
}



